{% extends 'base.html' %}
{% load static %}
 {% block content %}

 <div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>title</th>
                    <th>link</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for i in data.products %}
                <tr>
                    <td>
                        {{i.id}}
                    </td>
                    <td>
                        {{i.title}}
                    </td>
                    <td>
                        {{i.url}}
                    </td>
                    <td>
                        <a href="{% url 'home' %}"> click here</a>
                    </td>
                   
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
 </div>
 
 {% endblock %}

 
 

