{% extends 'base.html' %}
{% load static %}
 {% block content %}
 <div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>title</th>
                    <th>moredetails</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <td>
                        {{i.id}}
                    </td>
                    <td>
                        {{i.title}}
                    </td>
                    <td>
                        {{i.moredetails}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
 </div>
 
 {% endblock %}
